$header-height: 60px;
$footer-height: 100px;
$color-primary: rgb(0, 70, 128);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
}

.page-wrapper {
  padding: 3rem 2rem;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
  min-height: calc(100vh - ($header-height + $footer-height));
}

h1 {
  margin-bottom: 2rem;
}
