.first-wrapper {
  display: flex;
  gap: 1rem;
}

.first-wrapper > div {
  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #222;
  margin-bottom: 0.25rem;
}

input,
textarea,
.submit-button {
  padding: 1rem;
  border: 1px solid #cecece;
  border-radius: 10px;
  font-size: 1.125rem;
  width: 100%;
}

textarea {
  height: 200px;
}

.submit-button {
  cursor: pointer;
  transition: background-color 0.25s ease;
  margin-top: 1rem;
}

.submit-button:disabled,
.submit-button:disabled:hover {
  background-color: unset;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #ececec;
}

.submit-success,
.submit-error {
  text-align: center;
  padding: 0.5rem;
  color: green;
}

.error,
.submit-error {
  color: red;
}

.message-label {
  margin-top: 1rem;
}
