footer {
  height: var(--footer-height);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  padding: 8px;
  color: #111;
  transition: color .25s ease;
}

.footer-item:hover {
  color: #eee;
}

