footer {
  height: $footer-height;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  .copyright {
    color: #fff;

    .footer-link {
      color: inherit;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-color: #fff;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-item {
    position: relative;
    padding: 8px;
    color: #fff;
    &:hover::after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 3px;
      right: 3px;
      height: 2px;
      background-color: #fff;
    }
  }
}
