.content {
  display: flex;
  flex-direction: column;
}

.content p,
.content ul,
.content h2 {
  margin-bottom: 16px;
}

.picture {
  border-radius: 50%;
  margin: 0 auto 2rem;
}

.text-link {
  color: var(--color-primary);
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}
