.home-page {
  display: flex;
  flex-direction: column;

  p,
  ul,
  h2 {
    margin-bottom: 16px;
  }

  .picture {
    border-radius: 50%;
    margin: 0 auto 2rem;
  }

  .text-link {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .content + a {
    margin-bottom: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    @media (min-width: 687px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .gallery-item {
      display: flex;
      align-items: center;
    }

    img {
      width: 100%;
    }
  }
}
