* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 60px;
  --footer-height: 100px;
  --color-primary: rgb(0, 70, 128);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.content {
  padding: 48px 0;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
}
