footer {
  height: var(--footer-height);
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0 16px;
  padding: 16px;
  border-radius: 50px;
  transition: outline .25s ease, color .25s ease, text-decoration .25s ease;
}

footer a:hover {
  text-decoration: underline;
  color: #ddd;
  outline: 1px solid #ddd;
}
