.content {
  display: flex;
  flex-direction: column;
}

.content p, .content ul, .content h2 {
  margin-bottom: 16px;
}

.picture {
  border-radius: 50%;
  margin: 0 auto 2rem;
}


a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
