.content {
  padding: 48px 0;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}

.content p, .content ul {
  margin-bottom: 16px;
}

.picture {
  border-radius: 50%;
  margin: 0 auto 2rem;
}
